[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = ">=3.8"
django = "==2.1"

[dev-packages]
django = ">=1.11"

[requires]
python_version = "3.7"
