[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = ">=3.8"

[dev-packages]
django = ">=1.11, <2.2"
bumpversion = "*"
djangorestframework-api-key = {editable = true,path = "."}
pytest = "*"
pytest-django = "*"

[requires]
python_version = "3.7"
