[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
django = "<2.2,>=2.0"
bumpversion = "*"
pytest = "*"
pytest-django = "*"
djangorestframework = "<4.0,>=3.8"
djangorestframework-api-key = {editable = true,path = "."}

[requires]
python_version = "3.7"
