-e .

# Django environment.
django[argon2,bcrypt]==3.2.*
djangorestframework==3.12.*
dj-database-url
django-dotenv

# PostgreSQL testing.
psycopg2-binary

# Packaging.
twine
wheel

# Tooling.
autoflake
black==21.11b1
flake8
flake8-bugbear
flake8-comprehensions
isort==5.*
mkdocs==1.*
mkdocs-material==8.*
pymdown-extensions==9.*
mypy
pytest==6.*
pytest-django==4.*
pytest-cov
seed-isort-config
