resources:
  repositories:
    - repository: templates
      type: github
      endpoint: github
      name: florimondmanca/azure-pipelines-templates
      ref: refs/tags/5.0
  containers:
    - container: pg11
      image: postgres:11
      ports:
        - 5432:5432
      env:
        POSTGRES_USER: postgres
        POSTGRES_PASSWORD: postgres
        POSTGRES_DB: default

trigger:
  - master
  - refs/tags/*

pr:
  - master

variables:
  - name: CI
    value: "true"
  - name: PIP_CACHE_DIR
    value: $(Pipeline.Workspace)/.cache/pip
  - group: pypi-credentials

stages:
  - stage: test
    jobs:
      - template: job--python-check.yml@templates
        parameters:
          pythonVersion: "3.10"

      - template: job--python-docs-build.yml@templates
        parameters:
          pythonVersion: "3.10"

      - template: job--python-test.yml@templates
        parameters:
          jobs:
            py37_dj22:
              variables:
                DJANGO_VERSION: "2.2.*"

            py38_dj32:
              variables:
                DJANGO_VERSION: "3.2.*"

            py310_dj32:
              coverage: true
              variables:
                DJANGO_VERSION: "3.2.*"

            py310_dj42:
              coverage: true
              variables:
                DJANGO_VERSION: "4.2.*"

            py310_postgres:
              services:
                postgres: pg11
              variables:
                DATABASE_URL: "postgresql://postgres:postgres@localhost:5432/default"

  - stage: publish
    condition: startsWith(variables['Build.SourceBranch'], 'refs/tags/')
    jobs:
      - template: job--python-publish.yml@templates
        parameters:
          token: $(pypiToken)
          pythonVersion: "3.10"
